.git
.gitignore
.gitattributes


.env
.env.*
.editorconfig

vendor
node_modules

storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
bootstrap/cache

tests

public/build
public/hot

README.md
