@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", sans-serif;
  --font-inter: "Inter", sans-serif;

  /* Tons de Cinza (Fundo e Superfícies) */
  --color-gray-900: #0C0C0C;
  --color-gray-850: #141414;
  --color-gray-800: #1D1D1D;
  --color-gray-700: #2A2A2A; 

  /* Cores de Texto */
  --color-text-primary: #E6E6E6;
  --color-text-secondary: #A1A1A1;
  --color-placeholder: #6E6E6E;

  /* Primária (Gold Premium) */
  --color-primary-500: #E2B552;
  --color-primary-600: #C49947;
  
  /* Secundária (Bronze) */
  --color-secondary-500: #A67B3F;
}

@layer base {
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Montserrat:wght@500;600;700&display=swap');
  body {
    background-color: var(--color-gray-900);
    color: var(--color-text-primary);
    font-family: var(--font-inter);
    -webkit-font-smoothing: antialiased;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-montserrat);
  }
}